.axis path,
.axis line {
    fill: none;
    shape-rendering: crispEdges;
}
.axis text {
    fill: none;
    stroke: black;
    /*shape-rendering: crispEdges;*/
    font-family: sans-serif;
    font-size: 11px;
    margin: 3px;
}
.tick line{
    stroke: lightgray;
    opacity: 0.7;
}

circle{
  opacity: 0.3;
}

// Hide the null values
circle[cy="-999"]{
    opacity: 0 !important;
}

circle.highlighted{
    fill: red;
    opacity: 1 !important;
}

path.selection{
    stroke: black;
    stroke-width: 1;
    fill: gray;
    opacity: 0.4;
}