/* --------------------------------------------------------------------- BODY */

body {
  padding-top: 50px;
}

/* -------------------------------------------------------------------- TABLE */

tr{ opacity: 0.6; }

tr:hover{ opacity: 1; }

td { break-word: word-wrap; }

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, 
.table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-top: 1px solid #1e1e1e;
  border-bottom: 1px solid #2f2f2f;
}


/* ------------------------------------------------------------------ SIDEBAR */

.sidebar{
  color: #575757;
  top: 51px;
  bottom: 0;
  z-index: 1000;
  padding: 0;
  display: block;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto hidden;
  background-color: #1e1e1e;
  max-height: 500px;
  /*border-bottom: 1px solid #2f2f2f;*/
}

@media (min-width: 768px) {
  .sidebar{
    max-height: 100%;
    position: fixed;
  }
}

.sidebar-right{
	right:0;
  border-left: 1px solid #2f2f2f;
}

.sidebar-left{
  left: 0;
  border-right: 1px solid #2f2f2f;
}

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* -------------------------------------------------------- SCHOOL CATEGORIES */

[category='earlychildhood']{
  color: #A6CEE3;
}
[category='secondaryschool']{
  color: #FDBF6F;
}

[category='elementary']{
  color: #1F78B4;
}

[category='intermediate']{
  color: #33A02C;
}

[category='highschool']{
  color: #B2DF8A;
}

[category='k-8']{
  color: #E31A1C;
}

[category='k-12']{
  color: #FB9A99;
}
/* -------------------------------------------------------- SCROLLABLE FILTER */

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.schoolSelected{
  opacity: 1 !important;
  background-color: #2f2f2f;
	/*color: #1e1e1e !important;*/
}

.schoolSelected td{
  border-bottom: 1px solid #1e1e1e !important;
}

.dropdownSelected{
	background-color: #d3d3d3;
}

/* --------------------------------------------------------------------- MAIN */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    /*padding-right: 40px;
    padding-left: 40px;*/
  }
}
.main .page-header {
  margin-top: 0;
}

.data{
  font-size: small;
}

.schoolName{
  font-weight: bold;
}
